.headind {
    font-size: 46px;
    color: rgb(31, 31, 196);
    text-align: center;
    padding: 0.5em;
}
.paragraf2 {
    font-size: 16px;
    color: #333;
    text-align: justify;
    padding: 0.5em;
}